<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>Blog</title>
</head>
<body>
    <h1 class="page-heading">Blog Posts</h1>
    <div class="btn-container">
        <a class="btn btn-green" href="/articles/new">new article</a>
    </div>
    

    <% articles.forEach(article => { %>
        <div class="item">
            <h2><%= article.title %></h2>
            <small><%= article.createdAt.toLocaleDateString() %></small>
            <p><%= article.description %></p>
            <div class="btn-container">
                <a class="btn btn-green" href="articles/<%= article.slug %>">Read More</a>
                <a  class="btn btn-yellow" href="articles/edit/<%= article.id %>">Edit</a>
                <form class="inline-form" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-red" type="submit">Delete</button>
                </form>
            </div>
        </div>
    <% }) %>
</body>
</html>